{% extends "products/base.html" %}
{% block content %}
    <div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div >
            <div class="col-md-9 abc ml-auto">
                <h1>{{ object.Pname }}</h1>
            </div>
            <p class="mr-auto">By {{ object.Pcomp}}</p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div>
            <div ><img src="{{ object.Pimage.url }}" width="60%" height="60%">
             <ul class="mt-5">
                    <li>{{ object.Pdesc}}</li>
            </ul>
            </div>
        {% if object.Pprice != 0 %}

          <h4>Cost = Rs {{ object.Pprice }}</h4>

        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}