 {% extends "products/base.html" %}
 {% load static %}
 {% block content %}
    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Featured Products</h1>
            <p class="lead text-muted">Find products according to your interests and shop to your heart's content.</p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                  <p class="card-text"><h4>{{ product.Pname }}</h4></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'detail' product.id %}">View</a></button>
                    </div>
                    <small class="text-muted">{{ product.Pcomp}}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>      
        </div>
      </div>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Your list of movies to choose from </h1>
          </div>
        </div>
      </section>

            <p ><h4>Movies similar to Annabelle</h4></p>
            <div class="container-body mt-4">
              <div >
               <ul class="mt-5">
                {% for key,value in similar.items %}
                  {% for key1,value1 in value.items%}

                    {% if key != 'Director' %}
                      <li class="lead text-muted"><h6>{{ value1 }}</h6></li>
                    {% endif%}

                  {% endfor %}
                {% endfor %}
              </ul>
              </div>
          </div>
<br>

          <p ><h4>Movies trending worldwide</h4></p>
            <div class="container-body mt-4">
              <div >
               <ul class="mt-5">
                {% for key,value in trending.items %}
                  {% for key1,value1 in value.items%}

                    {% if key != 'popularity' %}
                      <li class="lead text-muted"><h6>{{ value1 }}</h6></li>
                    {% endif%}

                  {% endfor %}
                {% endfor %}
              </ul>
              </div>
          </div>

<br>

          <p ><h4>Recently released</h4></p>
            <div class="container-body mt-4">
              <div >
               <ul class="mt-5">
                {% for key,value in newest.items %}
                  {% for key1,value1 in value.items%}

                    {% if key != 'release_date' %}
                      <li class="lead text-muted"><h6>{{ value1 }}</h6></li>
                    {% endif%}

                  {% endfor %}
                {% endfor %}
              </ul>
              </div>
          </div>

<br>

        <p ><h4>Movies related to genres suiting you</h4></p>
            <div class="container-body mt-4">
              <div >
               <ul class="mt-5">
                {% for key,value in genre.items %}
                  {% for key1,value1 in value.items%}

                    {% if key != 'Genres' %}
                      <li class="lead text-muted"><h6>{{ value1 }}</h6></li>
                    {% endif%}

                  {% endfor %}
                {% endfor %}
              </ul>
              </div>
          </div>
    </main>
{% endblock content %}

